/* ====================Landing page====================== */
*{
    padding: 0%;
    margin: 0%;
}
.header {
    background-color: aquamarine;
    padding: 30px;
    /* padding-top: 0; */
    margin: 3%;
    border-radius: 30%;
}

.header nav {
    text-align: center;
}

.header nav a {
    text-decoration: none;
    padding: 1%;
    font-weight: bolder;
    background-color: aliceblue;
    border-radius: 30%;
    color: black;
}

.logo{
    /* display: flex; */
    /* transform: translateX(50px);  */
    transform: translateY(-105px);
    float: left;
    margin-left:8rem;
    margin-top: -0.5rem;
    
    
    
}
#logo{
    width: 100px;
    height: 50px;
    
}

.header nav a:hover{
    background-color: black;
    color: beige;
}

nav input{
    padding: 1%;
    font-weight: bolder;
    background-color: aliceblue;
    border-radius: 30%;
}

#body img {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    margin-right: 15rem;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(90deg);
    }
}

#body img{
    animation: rotate 5s linear infinite;
}

#body{
    font-size: 300%;
    text-align: center;
    font-family: 'Sofia';
    background-image:url(../images/tabl2.jpg);
    color: red;
}
#body h1{
    background-color: lightgray;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 5px;
}

#body p{
    background-color: lightgray;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 5px;
}

.footer {
    background-color: aquamarine;
    padding: 15px;
    margin: 3%;
    border-radius: 5px;
    text-align: left;
}

#sec {
    display: flex;
    margin-left: 7%;
    margin-right: 4%;
} 

#sec div{
    padding: 1.5%;
}
body{
    background-color: burlywood;
}
/* =====================landing page media queries============ */
@media screen and (max-width: 393px) {
    .footer{
        padding: auto;
        margin: 3%;
        border-radius: 30%
    }
    #body{
        font-size: 275%;
    }
    #body img{
        width: 30%;
        border-radius: 50%;
    }
    #sec{
        display: none;
    }
}

@media screen and (max-width: 280px){
    .header nav a{
        padding: 0%;
        font-size: 15px;
    }
    #body{
        font-size: 200%;
    }
}

@media screen and (max-width: 360px){
    #body{
        font-size: 255%;
    }    
}

@media screen and (min-width: 768px){
    .header nav a{
        padding: 1%;
        font-size: 120%;
    }
    .footer #sec{
        font-size: 130%;
    }
}
/* ===========================Product page=============================== */

.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
}

.products img{
    width: 350px;
    height: 250px;
    padding: 1.5%;
}

.products section{
    padding: 15px;
}

.products section ul{
    padding: 5%;
    margin-left: 1.5%;
}

.products h4{
    margin-bottom: 1px;
}

.products p{
    font-weight: bolder;
    padding: 5px;
}

@media screen and (max-width: 300px){
    .products section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr; 
    }
    img{
        width: 150px;
        height: 100px;
    }
}

/* =========================Contact page======================== */

form {
    display: table;
    padding: 40px;
    color: black;
    background-color: lightgrey;
    border: solid 1.5px;
    text-align: right;
    margin: 4%;
}

h3 {
    text-align: center;
}

/* ===========================Admin page=============================== */
table{
    border: solid 2px black;
    padding: 15px;
    width: 70%;
    border-collapse: collapse;
    margin: 3px;  
}

table tr td{
    border: solid;
    font-size: 20px;

}

tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:nth-child(odd){
    background-color: #f2f2f2;
}

#payment{
    margin-left: 5%;
    font-weight: bold;
}


#payment button {
    padding: 0.5%;
    font-weight: bold;
}

/* ===========================Media Queries ================================== */

